.bullet__container {
  display: flex;
  overflow: auto;
  padding-bottom: 20px;
  padding-top: 40px;
}

.bullet .bullet__item {
  width: 120px;
  margin-right: 15px;
}
.bullet__item--title {
  font-size: 12px;
  color: #3f3f40;
}
.bullet__item--title:hover {
  text-decoration: underline;
  text-underline-offset: 0.3rem;
}
.bullet__item--image {
  width: 100px;
  min-width: 100px;
}

.bullet__item--link {
  text-decoration: none;
}
